%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name

%p
  %b Exercises:
  %br
  %br
  - @user.exercises.each do |exercise|
    On
    = exercise.completed
    you
    = exercise.activity
    for
    = exercise.value
    = exercise.units

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
