%h1 Listing exercises

%table
  %tr
    %th Activity
    %th Value
    %th Units
    %th Completed
    %th
    %th
    %th

  - @exercises.each do |exercise|
    %tr
      %td= exercise.activity
      %td= exercise.value
      %td= exercise.units
      %td= exercise.completed
      %td= link_to 'Show', exercise
      %td= link_to 'Edit', edit_exercise_path(exercise)
      %td= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exercise', new_exercise_path
